<mat-card>
  <mat-card-title>Actions</mat-card-title>
  <mat-card-content>
    <button mat-button [disabled]="!areIndividualsSelected" (click)="deletedSelectedIndividuals()">Delete</button>
    <button mat-button [disabled]="!areIndividualsSelected" (click)="showDialog()">Dialog!</button>
    <button mat-raised-button color="primary" (click)="toggleBusyIndicator()">
      <span *drmBusyIndicator="isBusyIndicatorShown"></span>
      <span>Busy!</span>
    </button>
  </mat-card-content>
</mat-card>

<mat-card class="mat-card">
  <mat-card-title>Row Selection Types</mat-card-title>
  <mat-card-content>
    <mat-radio-group [(ngModel)]="selectedRowSelectionKey" class="radio-group">
      <mat-radio-button class="radio-button" [value]="0">None</mat-radio-button>
      <mat-radio-button class="radio-button" [value]="1">Single</mat-radio-button>
      <mat-radio-button class="radio-button" [value]="2">Multi</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>

<mat-card class="mat-card">
  <mat-card-title>Defects</mat-card-title>
  <mat-card-content>
    <drm-mat-table [rowSelectionType]="rowSelectionType" (selectionChanged)="rowSelectionChanged($event)"
      [columnDefinitions]="columnDefinitions" idSelector="id" [data]="individuals"></drm-mat-table>
    <ng-template #compWithButton>
      <app-table-button (buttonClick)=componentButtonClicked($event)></app-table-button>
    </ng-template>

    <ng-template #anotherButton>
      <drm-button-template materialIcon="arrow_backward" materialColor="accent"
        (buttonClick)=anotherButtonClicked($event)></drm-button-template>
    </ng-template>
  </mat-card-content>
</mat-card>

<mat-card class="mat-card">
  <mat-card-title>Typography</mat-card-title>
  <mat-card-content>
    <div class="typography-container">
      <div class="typography-container-item">
        <div>
          Headings
        </div>

        <div class="typography-row">
          <div>
            <h1 class="mat-h1">Heading with mat-h1</h1>
            <h1>Heading without mat-h1</h1>
          </div>
          <div>
            <h2 class="mat-h2">Heading with mat-h2</h2>
            <h2>Heading without mat-h2</h2>
          </div>
          <div>
            <h3 class="mat-h3">Heading with mat-h3</h3>
            <h3>Heading without mat-h3</h3>
          </div>
          <div>
            <h4 class="mat-h4">Heading with mat-h4</h4>
            <h4>Heading without mat-h4</h4>
          </div>
        </div>
      </div>

      <div class="typography-container-item">
        <div>
          Display
        </div>

        <div class="typography-row">
          <div>
            <label class="mat-display-1">mat-display-1</label>
          </div>
          <div>
            <label class="mat-display-2">mat-display-2</label>
          </div>
          <div>
            <label class="mat-display-3">mat-display-3</label>
          </div>
          <div>
            <label class="mat-display-4">mat-display-4</label>
          </div>
        </div>
      </div>
    </div>


    <div class="typography-container-item">
      <div>
        Others
      </div>

      <div class="typography-row">
        <div>
          <label class="mat-body-1">mat-body-1</label>
        </div>
        <div>
          <label class="mat-body-2">mat-body-2</label>
        </div>
        <div>
          <label class="mat-caption">mat-caption</label>
        </div>
        <div>
          <label class="mat-small">mat-small</label>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>