.radio-group {
    display: flex;
    flex-direction: row;
}

.radio-button {
    margin: 5px;
}

::ng-deep.fixed-width {
    width: 20px;
}

::ng-deep.auto-width {
    width: 1px;
    white-space: nowrap;
}

.typography-container {
    display: flex;
    flex-direction: column;
}

.typography-container-item {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.typography-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}