.radio-group {
  display: flex;
  flex-direction: row;
}

.radio-button {
  margin: 5px;
}

::ng-deep.fixed-width {
  width: 20px;
}

::ng-deep.auto-width {
  width: 1px;
  white-space: nowrap;
}