<mat-card>
  <mat-card-title>Actions</mat-card-title>
  <mat-card-content>
    <button mat-button [disabled]="!areIndividualsSelected" (click)="deletedSelectedIndividuals()">Delete</button>
    <button mat-button [disabled]="!areIndividualsSelected" (click)="showDialog()">Dialog!</button>
    <button mat-raised-button color="primary" (click)="toggleBusyIndicator()">
      <span *drmBusyIndicator="isBusyIndicatorShown"></span>
      <span>Busy!</span>
    </button>
  </mat-card-content>
</mat-card>

<mat-card class="mat-card">
  <mat-card-title>Row Selection Types</mat-card-title>
  <mat-card-content>
    <mat-radio-group [(ngModel)]="selectedRowSelectionKey" class="radio-group">
      <mat-radio-button class="radio-button" [value]="0">None</mat-radio-button>
      <mat-radio-button class="radio-button" [value]="1">Single</mat-radio-button>
      <mat-radio-button class="radio-button" [value]="2">Multi</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>

<mat-card class="mat-card">
  <mat-card-title>Defects</mat-card-title>
  <mat-card-content>
    <drm-mat-table [rowSelectionType]="rowSelectionType" (selectionChanged)="rowSelectionChanged($event)"
      [columnDefinitions]="columnDefinitions" idSelector="id" [data]="individuals"></drm-mat-table>
    <ng-template #compWithButton>
      <app-table-button (buttonClick)=componentButtonClicked($event)></app-table-button>
    </ng-template>

    <ng-template #anotherButton>
      <drm-button-template materialIcon="arrow_backward" materialColor="accent"
        (buttonClick)=anotherButtonClicked($event)></drm-button-template>
    </ng-template>
  </mat-card-content>
</mat-card>
